.randomizable-field {
  // The inline group is created by JS - wraps just the input + suffix
  &__inline-group {
    display: flex;
    align-items: stretch;

    .govuk-input,
    .govuk-select,
    .govuk-textarea {
      flex: 1 1 auto;
      min-width: 0;
    }
  }

  // The suffix box - blue with white text like the randomize button
  &__suffix {
    display: flex;
    align-items: center;
    background-color: govuk-colour("blue");
    border: $govuk-border-width-form-element solid govuk-colour("blue");
    border-left: none;
    white-space: nowrap;
    flex-shrink: 0;
    height: 40px;
    box-sizing: border-box;
    overflow: hidden;

    // Strip all GOV.UK checkbox padding/margins for inline use
    .govuk-checkboxes--small {
      min-height: 0;
      margin: 0;
      padding: 0;
      transform: scale(0.75);
      transform-origin: center center;

      .govuk-checkboxes__item {
        margin: 0;
        padding: 0;
        min-height: 0;
      }

      .govuk-checkboxes__input {
        margin: 0;
      }

      .govuk-checkboxes__label {
        margin: 0;
        padding: 0;
        color: govuk-colour("white");
      }

      // White checkbox
      .govuk-checkboxes__label::before {
        border-color: govuk-colour("white");
        background-color: transparent;
      }

      .govuk-checkboxes__label::after {
        border-color: govuk-colour("white");
      }
    }
  }

  // When randomized, style the input as disabled
  &[data-randomized="true"][data-field-type="text"] {
    .randomizable-field__inline-group {
      .govuk-input,
      .govuk-select,
      .govuk-textarea {
        background-color: govuk-colour("light-grey");
        color: $govuk-secondary-text-colour;
        cursor: not-allowed;
      }
    }
  }

  // Random option styling for radio/checkbox fields
  &__random-option {
    .govuk-radios__label {
      color: govuk-colour("blue");
    }

    // Blue radio circle to match the label
    .govuk-radios__input + .govuk-radios__label::before {
      border-color: govuk-colour("blue");
    }
  }
}
