{%- extends "govuk/template.njk" -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "partials/macros/support-widget/macro.njk" import supportWidget -%}

{% if backlink %}
  {% set mainClasses = "govuk-main-wrapper--no-padding" %}
{% else %}
  {% set mainClasses = "" %}
{% endif %}

{%- block head -%}
  <!-- Matomo Tag Manager -->
  <script>
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    (function() {
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src='https://matomo-dev.hmpps.service.justice.gov.uk/js/container_sWTyIs6f_dev_13a8793506c3e92d1045ccd6.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Tag Manager -->
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo-dev.hmpps.service.justice.gov.uk/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
{%- endblock -%}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% block formContent %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block footer %}
  {% block supportWidget %}
    {{ supportWidget({}) }}
  {% endblock %}

  {{ super() }}
{% endblock %}

{%- block bodyEnd -%}
  {% if not hideSessionTimeoutModal %}
    {% include "./session-timeout-modal.njk" %}
  {% endif %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{%- endblock -%}
