{%- extends "govuk/template.njk" -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% if backlink %}
  {% set mainClasses = "govuk-main-wrapper--no-padding" %}
{% else %}
  {% set mainClasses = "" %}
{% endif %}

{%- block head -%}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
{%- endblock -%}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      {% block formContent %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block footer %}
  {% include "./support-widget.njk" %}
  {{ super() }}
{% endblock %}

{%- block bodyEnd -%}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{%- endblock -%}
