{%- extends "partials/layout.njk" -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/details/macro.njk" import govukDetails -%}
{%- from "govuk/components/footer/macro.njk" import govukFooter -%}

{# ancestor[0].title is root journey title, in this case it's 'Sentence Plan' #}
{# step.title is current step(page) of the journey #}
{% set fullPageTitle = (dynamicTitle or step.title) + ' - ' + ancestors[0].title %}
{% set pageTitleWithError = 'Error: ' + fullPageTitle %}

{% set pageTitle %}
  {% if not validationErrors.length and not hasPlanOverviewErrors%}
    {{ fullPageTitle }}
  {% else %}
    {{ pageTitleWithError }}
  {% endif %}
{% endset %}

{% block head %}
  {{ super() }}
  {% block pageStylesheets %}
    <link rel="stylesheet" href="{{ '/assets/css/forms/sentence-plan/assets/form.css' | assetMap }}">
  {% endblock %}
{% endblock %}

{% block header %}
  {{ super() }}
  {% include "sentence-plan/views/partials/sentence-plan-nav.njk" %}
  {% include "sentence-plan/views/partials/phase-banner.njk" %}
  {% include "sentence-plan/views/partials/plan-header.njk" %}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% block pageScripts %}
    <script src="{{ '/assets/js/forms/sentence-plan/assets/form.js' | assetMap }}"></script>
  {% endblock %}
  {% if smartSurveyPopupCode and currentTab is defined %}
    <script nonce="{{ cspNonce }}">
      (function(d){
        var s,ss;
        ss=d.createElement("script");
        ss.type="text/javascript";
        ss.async=true;
        ss.type="module";
        ss.src="https://embed.smartsurvey.io/index.js?popupCode={{ smartSurveyPopupCode }}";
        s=d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ss, s);
      })(document);
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  {% set sidebarIndex = twoColumnLayout.sidebarBlockIndex if twoColumnLayout else -1 %}

  <div class="govuk-grid-row" data-qa-assessment-uuid="{{ data.assessmentUuid }}">
    <div class="govuk-grid-column-full">
      {% if backlink %}
        <a href="{{ backlink }}" class="govuk-back-link">Back</a>
      {% endif %}

      <form method="post" novalidate data-qa="main-form">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        {% if twoColumnLayout %}
          <div class="govuk-width-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-third">
                {{ blocks[sidebarIndex] | safe }}
              </div>
              <div class="govuk-grid-column-two-thirds">
                {{ govukErrorSummary({
                  titleText: "There is a problem",
                  errorList: validationErrors | toErrorSummary
                }) if validationErrors.length }}

                {% for block in blocks %}
                  {{ block | safe if loop.index0 != sidebarIndex }}
                {% endfor %}
              </div>
            </div>
          </div>
        {% else %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: validationErrors | toErrorSummary
          }) if validationErrors.length }}

          {% for block in blocks %}
            {{ block | safe }}
          {% endfor %}
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {% block supportWidget %}
    {% set reportProblemHtml %}
      <p class="govuk-body">
        Copy this information and paste it into the
        <a href="{{ serviceNowFormUrl }}" class="govuk-link" target="_blank" rel="noopener noreferrer">ServiceNow form (opens in a new tab)</a>.
      </p>
      <span id="copy-alert" class="govuk-visually-hidden" aria-live="polite"></span>
      <div class="app-report-problem__info">
        <pre class="app-report-problem__details" id="report-problem-details">CRN: {{ data.caseData.crn if data.caseData }}
Request ID: {{ getRequestId() if getRequestId() != 'unavailable' }}
Assessment ID: {{ data.assessmentUuid }}
OASys PK: {{ data.oasysAssessmentPk }}</pre>
        <div class="app-report-problem__copy">
          <button type="button" class="govuk-button govuk-button--secondary app-report-problem__copy-button copy-button" data-copy-target="report-problem-details">
            Copy
          </button>
        </div>
      </div>
    {% endset %}

    <div class="app-report-problem" id="report-a-problem">
      <div class="govuk-width-container">
        {{ govukDetails({
          summaryText: "Report a problem",
          html: reportProblemHtml
        }) }}
      </div>
    </div>
  {% endblock %}

  {{ govukFooter({
    classes: "app-footer",
    meta: {
      items: [
        {
          href: "/sentence-plan/accessibility",
          text: "Accessibility"
        },
        {
          href: "/sentence-plan/cookies-policy",
          text: "Cookies policy"
        },
        {
          href: "/sentence-plan/privacy-policy",
          text: "Privacy policy"
        }
      ]
    }
  }) }}
{% endblock %}
