{%- extends "partials/layout.njk" -%}
{%- from "govuk/components/footer/macro.njk" import govukFooter -%}
{%- from "partials/macros/support-widget/macro.njk" import supportWidget -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% for block in blocks %}
        {{ block | safe }}
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ supportWidget({}) }}
  {{ govukFooter({
    classes: "app-footer",
    meta: {
      items: [
        {
          href: "/accessibility",
          text: "Accessibility"
        },
        {
          href: "/cookies-policy",
          text: "Cookies policy"
        },
        {
          href: "/privacy-policy",
          text: "Privacy policy"
        }
      ]
    }
  }) }}
{% endblock %}
