{%- extends "partials/layout.njk" -%}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% for block in blocks %}
        {{ block | safe }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
