{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% call govukNotificationBanner() %}
  <p class="govuk-notification-banner__heading"> Planned Downtime </p>
  <p> Assess and plan will be unavailable from 11pm on Wednesday 1 July 2026 for 3 hours. </p>
{% endcall %}
