{% from "shared/views/partials/person-header.njk" import appPersonHeader %}

{% if data.caseData %}
  {% set person = data.caseData %}
  {% set buttonItems = [] %}
  {% set navigationLinks = [] %}

  {% if buttons.showReturnToOasysButton %}
    {% set buttonItems = buttonItems.concat([{
      text: 'Return to OASys',
      href: data.sessionDetails.oasysRedirectUrl,
      classes: "govuk-button--secondary govuk-!-display-none-print",
      type: 'button'
    }]) %}
  {% endif %}

  {% if buttons.showCreateGoalButton %}
    {% set createGoalHref = basePath + '/goal/new/add-goal/accommodation' + ('?type=' + currentTab if currentTab else '') %}
    {% set buttonItems = buttonItems.concat([{
      text: 'Create goal',
      href: createGoalHref,
      classes: "govuk-button--secondary govuk-!-display-none-print",
      type: 'button',
      id: 'create-goal-button'
    }]) %}
  {% endif %}

  {% if buttons.showAgreePlanButton %}
    {% set agreePlanHref = basePath + '/plan/agree-plan' + ('?type=' + currentTab if currentTab else '') %}
    {% set buttonItems = buttonItems.concat([{
      text: 'Agree plan',
      href: agreePlanHref,
      classes: "govuk-!-display-none-print",
      type: 'button',
      id: 'agree-plan-button'
    }]) %}
  {% endif %}

  {% if not hidePreviousVersions %}
    {% set navigationLinks = navigationLinks.concat([{
      text: 'View previous versions',
      href: basePath + '/plan/previous-versions',
      attributes: {
        'data-previous-versions-link': true
      }
    }]) %}
  {% endif %}

  {{ appPersonHeader({
    person: person,
    navigationLinks: navigationLinks,
    buttonItems: buttonItems,
    headerPageHeading: headerPageHeading,
    alert: alert,
    dataQa: 'plan-header'
  }) }}
{% endif %}
