{% from "moj/components/alert/macro.njk" import mojAlert %}

{# Shown only when JavaScript is disabled (the Print button needs window.print).
   Hidden when printing so it never appears on the printed pages. #}
{% if buttons.showPrintButton %}
  <noscript>
    <div class="govuk-!-display-none-print govuk-!-margin-bottom-4" data-qa="print-no-js-message">
      {{ mojAlert({
        variant: "warning",
        title: "Use your keyboard to print",
        showTitleAsHeading: true,
        headingTag: "h2",
        dismissible: false,
        html: '<p class="govuk-body govuk-!-margin-bottom-0">There is no print button because you do not have JavaScript enabled. To print this page, use Ctrl + P on a PC or Cmd + P on a Mac.</p>'
      }) }}
    </div>
  </noscript>
{% endif %}
