{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% if not hideNavigation %}
  {% set personName = data.caseData.name.forename if data.caseData and data.caseData.name else "Person" %}
  {% set isOnAboutPage = step.path == '/about-person' %}
  {% set isOnPlanHistoryPage = step.path == '/plan-history' %}
  {% set isOnPolicyPage = step.path == '/accessibility' or step.path == '/cookies-policy' or step.path == '/privacy-policy' %}
  {% set isOnPlanPage = not isOnAboutPage and not isOnPlanHistoryPage and not isOnPolicyPage %}

  {# use '| select | list' to filter out the undefined or falsy values from the items array #}
  {{ mojPrimaryNavigation({
    label: "Primary navigation",
    items: [
      {
        text: personName + "'s plan",
        href: basePath + "/plan/overview",
        active: isOnPlanPage
      },
      {
        text: "Plan history",
        href: basePath + "/plan/plan-history",
        active: isOnPlanHistoryPage
      } if showPlanHistoryTab,
      {
        text: "About " + personName,
        href: basePath + "/about-person",
        active: isOnAboutPage
      } if showAboutTab
    ] | select | list
  }) }}
{% endif %}
