/**
 * Training Session Launcher - Form styles entry point
 */

@import "govuk-frontend/dist/govuk/base";
@import "../components/tab-panel/tab-panel";
@import "../components/criminogenic-needs-list/criminogenic-needs-list";
@import "../components/randomizable-field/randomizable-field";

// Scenario panel content styles
// Used within TabPanel panels for scenario display

.scenario-picker {
  // Panel header
  &__panel {
    &-header {
      margin-bottom: govuk-spacing(5);
      padding-bottom: govuk-spacing(4);
      border-bottom: 1px solid govuk-colour("mid-grey");
    }

    &-title {
      margin-bottom: govuk-spacing(2);
    }
  }

  // Content sections
  &__section {
    margin-bottom: govuk-spacing(5);
  }

  // Two-column details grid
  &__details-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: govuk-spacing(6);

    @include govuk-media-query($from: tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Summary list overrides
  &__summary {
    margin-bottom: 0;

    .govuk-summary-list__row {
      padding: govuk-spacing(2) 0;
    }

    .govuk-summary-list__key {
      width: 30%;
    }
  }

  // Inline summary (horizontal dt/dd pairs)
  &__inline-summary {
    display: flex;
    flex-wrap: wrap;
    gap: govuk-spacing(1) govuk-spacing(4);

    &-item {
      display: flex;
      gap: govuk-spacing(1);
    }

    dt {
      @include govuk-font($size: 16);
      color: govuk-colour("dark-grey");

      &::after {
        content: ":";
      }
    }

    dd {
      @include govuk-font($size: 16);
      margin: 0;
    }
  }

  // Advanced options
  &__advanced {
    margin-top: govuk-spacing(4);
  }

  // Launch controls - inline layout
  &__launch-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: govuk-spacing(3);
    margin-top: govuk-spacing(4);

    .govuk-form-group {
      margin-bottom: 0;
    }

    .govuk-button {
      margin-bottom: 0;
      top: -2px;
    }
  }

  // Inline form within launch controls
  &__launch-form {
    display: contents;
  }
}

// Session card accordion
.session-card {
  margin-bottom: govuk-spacing(4);

  &__details {
    border: 1px solid govuk-colour("mid-grey");
    background-color: govuk-colour("white");

    &[open] {
      .session-card__summary {
        border-bottom: 1px solid govuk-colour("mid-grey");
      }
    }
  }

  &__summary {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: govuk-spacing(1);
    padding: govuk-spacing(3) govuk-spacing(4);
    cursor: pointer;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::marker {
      display: none;
    }

    &:hover {
      background-color: govuk-colour("light-grey");
    }

    &:focus-visible {
      @include govuk-focused-text;
    }
  }

  &__title {
    @include govuk-font($size: 19, $weight: bold);
    color: govuk-colour("blue");
  }

  &__subtitle {
    @include govuk-font($size: 16);
    color: govuk-colour("dark-grey");
  }

  &__meta {
    position: absolute;
    top: govuk-spacing(3);
    right: govuk-spacing(4);
    @include govuk-font($size: 14);
    color: govuk-colour("dark-grey");
  }

  &__content {
    padding: govuk-spacing(4);
    border-top: none;

    .govuk-summary-list {
      margin-bottom: govuk-spacing(4);
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: govuk-spacing(3);

    .govuk-form-group {
      margin-bottom: 0;
    }

    .govuk-button {
      margin-bottom: 0;
      position: relative;
      top: -2px;
    }
  }
}

// Override dumb govuk-tag max width
.govuk-tag {
  max-width: unset;
}

// Customise scenario header - title and actions in row
.customise-scenario {
  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: govuk-spacing(3);
    margin-bottom: govuk-spacing(4);
  }

  &__header-title {
    margin-bottom: 0;
  }

  &__header-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: govuk-spacing(2);
  }

  &__form {
    display: contents;

    .govuk-button {
      margin-bottom: 0;
    }
  }
}

.govuk-button--alternative-blue {
  $blue-button-colour: govuk-colour("blue");
  $blue-button-hover-colour: govuk-shade($blue-button-colour, 20%);
  $blue-button-shadow-colour: govuk-shade($blue-button-colour, 60%);

  background-color: $blue-button-colour;
  box-shadow: 0 2px 0 $blue-button-shadow-colour;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: govuk-colour("white");
  }

  &:hover {
    background-color: $blue-button-hover-colour;

    &[disabled] {
      background-color: $blue-button-colour;
    }
  }
}
