// GOV.UK Frontend with configuration
@use "govuk-frontend/dist/govuk" as * with (
  $govuk-global-styles: true,
  $govuk-page-width: 1170px,
  $govuk-suppressed-warnings: ("govuk-typography-scale-14")
);

// MOJ Frontend
@use "@ministryofjustice/frontend/moj/all" as *;

// Application components (all @use must come before @import)
@use '../../server/forms/sentence-plan/components/accessible-autocomplete/accessible-autocomplete';
@use '../../packages/form-engine-moj-components/src/all';
@use './components/header-bar';
@use './components/vertical-nav-bar';
@use './components/form';
@use "./components/code-block";
@use "./components/pagination";
@use "./components/copy-button";
@use './components/support-widget';
@use "./components/layout";
@use './components/plan-header';
@use './overrides/local';

// Third-party CSS (plain CSS imports must come after all @use rules)
@import "accessible-autocomplete/dist/accessible-autocomplete.min.css";
@import "highlight.js/styles/github.css";
