$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";
@import "@ministryofjustice/frontend/moj/all";
@import "accessible-autocomplete/dist/accessible-autocomplete.min.css";
@import '../../packages/form-engine-moj-components/src/all';

// Highlight.js theme for syntax highlighting
@import "highlight.js/styles/github";

@import './components/header-bar';
@import './components/vertical-nav-bar';
@import './components/form';
@import "./components/code-block";
@import "./components/pagination";
@import "./components/copy-button";
@import './components/support-widget';
@import "./components/layout";
@import 'components/plan-header';
@import './overrides/local';
