# `docker-compose.base.yml` defines common configuration shared across all deployment states.
# Other compose files (local, test) extend or override these settings as needed.

services:
  redis:
    image: redis:8.6
    networks:
      - hmpps
    ports:
      - "6379:6379"
    environment:
      ALLOW_EMPTY_PASSWORD: yes

  postgres:
    image: postgres:18
    networks:
      - hmpps
    tmpfs:
      - /var/lib/postgresql
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: dev

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    ports:
      - "4566:4566"
    healthcheck:
      test: [ "CMD", "bash", "/scripts/wait/healthcheck.sh" ]
      interval: 5s
      timeout: 10s
      retries: 50
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"
      - "./scripts/localstack/init:/etc/localstack/init/ready.d"
      - "./scripts/localstack/wait:/scripts/wait"
    environment:
      - SERVICES=sqs
      - LOCALSTACK_HOST=localstack:4566
      - DEBUG=1
      - DEFAULT_REGION=eu-west-2
      - AWS_DEFAULT_REGION=eu-west-2
      - USE_SSL=false

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:2026-01-19.282.b6537e8
    networks:
      - hmpps
    ports:
      - "9090:9090"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/auth/health" ]
      interval: 5s
      retries: 20
    volumes:
      - ./auth_db:/auth_db
    environment:
      SERVER_PORT: 9090
      SPRING_PROFILES_ACTIVE: dev
      APPLICATION_AUTHENTICATION_UI_ALLOWLIST: 0.0.0.0/0
      SPRING_FLYWAY_LOCATIONS: classpath:db/auth,db/auth_{vendor},db/dev/data/auth_{vendor},db/dev/data/auth,filesystem:/auth_db

  coordinator-api:
    image: ghcr.io/ministryofjustice/hmpps-assess-risks-and-needs-coordinator-api:national-rollout
    depends_on:
      - postgres
    networks:
      - hmpps
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://coordinator-api:8080/health/ping" ]
      interval: 5s
      retries: 20
    environment:
      SERVER_PORT: 8080
      SPRING_PROFILES_ACTIVE: postgres
      APP_DB_ENDPOINT: postgres:5432
      APP_DB_NAME: postgres
      APP_DB_USERNAME: root
      APP_DB_PASSWORD: dev
      HMPPS_AUTH_BASE_URL: http://hmpps-auth:9090/auth
      SAN_API_BASE_URL: http://wiremock:8080/san-api
      AAP_API_BASE_URL: http://wiremock:8080/aap-api
      APP_STRATEGIES_PLAN: false
      CLIENT_ID: hmpps-assess-risks-and-needs-oastub-ui
      CLIENT_SECRET: clientsecret

  arns-handover:
    image: ghcr.io/ministryofjustice/hmpps-assess-risks-and-needs-handover-service:national-rollout
    depends_on:
      - redis
      - localstack
    healthcheck:
      test: [ "CMD", "wget", "-q", "-O", "-", "http://arns-handover:7070/health/ping" ]
      interval: 5s
      retries: 20
    networks:
      - hmpps
    ports:
      - "7070:7070"
    environment:
      SERVER_PORT: 7070
      REDIS_HOST: redis
      SPRING_PROFILES_ACTIVE: local
      HMPPS_HANDOVER_BASE_URL: http://arns-handover:7070
      HMPPS_HANDOVER_EXTERNAL_URL: http://localhost:7070
      HMPPS_AUTH_BASE_URL: http://hmpps-auth:9090
      OASYS_BASE_URL: http://localhost:7072
      OASYS_RETURN_URLS: http://localhost:3000
      COORDINATOR_API_BASE_URL: http://coordinator-api:8080
      SERVER_ERROR_WHITELABEL_ENABLED: true
      CLIENT_ID: hmpps-assess-risks-and-needs-oastub-ui
      CLIENT_SECRET: clientsecret
      CLIENT_SP_SECRET: sp-secret
      CLIENT_SP_OAUTH_REDIRECT_URI: http://localhost:3000/sign-in/handover/callback
      CLIENT_SP_HANDOVER_REDIRECT_URI: http://localhost:3000/sign-in/handover?service=sentence-plan
      CLIENT_SAN_SECRET: san-secret
      CLIENT_SAN_OAUTH_REDIRECT_URI: http://localhost:3000/sign-in/callback
      CLIENT_SAN_HANDOVER_REDIRECT_URI: http://localhost:3000/sign-in

  ui:
    image: ghcr.io/ministryofjustice/hmpps-arns-assessment-platform-ui:${APP_VERSION:-local}
    networks:
      - hmpps
    depends_on:
      - redis
      - localstack
      - wiremock
    build:
      context: ../
      target: production
      args:
        BUILD_NUMBER: "1.0.0"
        GIT_REF: "a1b2c3"
        GIT_BRANCH: main
    command: npm run start
    ports:
      - "3000:3000"
      - "9229:9229"
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:3000/health"]
      interval: 5s
      retries: 20
    environment:
      PRODUCT_ID: 'UNASSIGNED'
      REDIS_ENABLED: true
      REDIS_HOST: redis
      SESSION_SECRET: somesecretvalue
      INGRESS_URL: http://localhost:3000
      NO_HTTPS: true
      AUTH_CODE_CLIENT_ID: hmpps-arns-assessment-platform-ui
      AUTH_CODE_CLIENT_SECRET: clientsecret
      CLIENT_CREDS_CLIENT_ID: hmpps-arns-assessment-platform-ui-system
      CLIENT_CREDS_CLIENT_SECRET: clientsecret
      TOKEN_VERIFICATION_ENABLED: false
      TOKEN_VERIFICATION_API_URL: http://localhost:9090/verification
      HMPPS_AUTH_URL: http://wiremock:8080/auth
      HMPPS_AUTH_EXTERNAL_URL: http://localhost:9090/auth
      AAP_API_URL: http://wiremock:8080/aap-api
      COORDINATOR_API_URL: http://wiremock:8080/coordinator-api
      DELIUS_API_URL: http://wiremock:8080/delius
      ARNS_API_URL: http://wiremock:8080/arns-api
      SAN_URL: http://localhost:3000
      HMPPS_ARNS_HANDOVER_URL: http://wiremock:8080/handover
      HMPPS_ARNS_HANDOVER_EXTERNAL_URL: http://localhost:7070
      HMPPS_ARNS_HANDOVER_CLIENT_ID: sentence-plan
      HMPPS_ARNS_HANDOVER_CLIENT_SECRET: sp-secret
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
      AWS_ENDPOINT_URL: http://localstack:4566
      AUDIT_ENABLED: true
      AUDIT_SQS_QUEUE_URL: http://localstack:4566/000000000000/audit-queue
      AUDIT_SQS_REGION: eu-west-2
      AUDIT_SERVICE_NAME: hmpps-arns-assessment-platform-ui
      NODE_CLUSTER_ENABLED: true
      FORM_ENGINE_DEVELOPER_GUIDE_ENABLED: true

  api:
    image: ghcr.io/ministryofjustice/hmpps-arns-assessment-platform-api:latest
    networks:
      - hmpps
    depends_on:
      - postgres
      - localstack
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
      interval: 5s
      retries: 20
    environment:
      - SERVER_PORT=8080
      - HMPPS_AUTH_URL=http://hmpps-auth:9090/auth
      - SPRING_PROFILES_ACTIVE=dev,postgres
      - DATABASE_ENDPOINT=postgres:5432
      - HMPPS_SQS_PROVIDER=localstack
      - HMPPS_SQS_LOCALSTACK_URL=http://localstack:4566
      - HMPPS_SQS_QUEUES_AUDIT_QUEUE_NAME=audit-queue

  wiremock:
    image: wiremock/wiremock:3.13.2
    networks:
      - hmpps
    depends_on:
      api:
        condition: service_healthy
      coordinator-api:
        condition: service_healthy
      arns-handover:
        condition: service_healthy
      hmpps-auth:
        condition: service_healthy
    restart: always
    ports:
      - "9091:8080"
    volumes:
      - ./wiremock/mappings:/home/wiremock/mappings
    environment:
      WIREMOCK_HMPPS_AUTH_URL: http://hmpps-auth:9090
      WIREMOCK_AAP_API_URL: http://api:8080
      WIREMOCK_COORDINATOR_API_URL: http://coordinator-api:8080
      WIREMOCK_HANDOVER_URL: http://arns-handover:7070
      WIREMOCK_TOKEN_VERIFICATION_URL: http://token-verification:8080
      WIREMOCK_DELIUS_URL: http://delius-api:8080
      WIREMOCK_ARNS_API_URL: http://arns-api:8080
    command: --global-response-templating

networks:
  hmpps:
