# Unit test mode
#
# - target: development
# - command: npm run test
# - REDIS_ENABLED: false (tests run in isolation, no external dependencies)
# - URLs: localhost (present for completeness but not used in unit tests)
#
# Dependency tree:
# ui (Isolated, no dependencies. ran with --no-deps from make file.)

services:
  ui:
    build:
      target: development
    command: npm run test
    environment:
      ENVIRONMENT_NAME: unit
      REDIS_ENABLED: false
      HMPPS_AUTH_URL: http://localhost:9090/auth
      HMPPS_AUTH_EXTERNAL_URL: http://localhost:9090/auth
      TOKEN_VERIFICATION_ENABLED: false
      TOKEN_VERIFICATION_API_URL: http://localhost:9090/verification
      AAP_API_URL: http://localhost:8080
    volumes:
      - ..:/app:cached
      - node_modules:/app/node_modules
