# docker-compose.test.yml is used to spin up the app specifically for integration testing.
# It stacks on top of `docker-compose.local.yml`, allowing tests to run
# against local deployment.

services:
  arns-handover:
    environment:
      HMPPS_HANDOVER_EXTERNAL_URL: http://arns-handover:7070
      CLIENT_SP_OAUTH_REDIRECT_URI: http://ui:3000/sign-in/handover/callback
      CLIENT_SP_HANDOVER_REDIRECT_URI: http://ui:3000/sign-in/handover?service=sentence-plan

  wiremock:
    image: wiremock/wiremock:3.13.2
    networks:
      - hmpps
    depends_on:
      hmpps-auth:
        condition: service_healthy
      api:
        condition: service_healthy
    restart: always
    ports:
      - "9091:8080"
    volumes:
      - ./wiremock/mappings:/home/wiremock/mappings
    environment:
      WIREMOCK_HMPPS_AUTH_URL: http://hmpps-auth:9090
      WIREMOCK_AAP_API_URL: http://api:8080
      WIREMOCK_COORDINATOR_API_URL: http://coordinator-api:8080
      WIREMOCK_HANDOVER_URL: http://arns-handover:7070
      WIREMOCK_TOKEN_VERIFICATION_URL: http://token-verification:8080
      WIREMOCK_DELIUS_URL: http://delius-api:8080
    command: --global-response-templating

  ui:
    build:
      target: production
    networks:
      - hmpps
    depends_on:
      - wiremock
      - hmpps-auth
    command: npm run start
    environment:
      NODE_ENV: production
      HMPPS_AUTH_URL: http://wiremock:8080/auth
      HMPPS_AUTH_EXTERNAL_URL: http://hmpps-auth:9090/auth
      HMPPS_ARNS_HANDOVER_URL: http://wiremock:8080/handover
      HMPPS_ARNS_HANDOVER_EXTERNAL_URL: http://arns-handover:7070
      AAP_API_URL: http://wiremock:8080/aap-api
      COORDINATOR_API_URL: http://wiremock:8080/coordinator-api
      TOKEN_VERIFICATION_API_URL: http://wiremock:8080/verification
      TOKEN_VERIFICATION_ENABLED: true
      DELIUS_API_URL: http://wiremock:8080/delius
      INGRESS_URL: http://ui:3000

  playwright:
    image: mcr.microsoft.com/playwright:v1.58.0-noble # Must match version in package-lock
    networks:
      - hmpps
    depends_on:
      - ui
      - wiremock
    environment:
      CI: true
      BASE_URL: http://ui:3000
      WIREMOCK_URL: http://wiremock:8080/__admin
      AAP_API_URL: http://api:8080
      HANDOVER_API_URL: http://arns-handover:7070
      COORDINATOR_API_URL: http://coordinator-api:8080
      HMPPS_AUTH_URL: http://hmpps-auth:9090/auth
      CLIENT_CREDS_CLIENT_ID: hmpps-arns-assessment-platform-ui-e2e
      CLIENT_CREDS_CLIENT_SECRET: clientsecret
      SHARD: ${SHARD:-}
    working_dir: /playwright
    command: ["sh", "-c", "npx playwright test $${SHARD:+--shard=$$SHARD}"]
    volumes:
      - ../package.json:/playwright/package.json
      - ../package-lock.json:/playwright/package-lock.json
      - ../playwright.config.ts:/playwright/playwright.config.ts
      - ../integration_tests:/playwright/integration_tests
      - ../test_results:/playwright/test_results
      - node_modules:/playwright/node_modules
      - ../server:/playwright/server
      - ../packages/form-engine/src:/playwright/packages/form-engine/src

volumes:
  node_modules:
    external: true
    name: ${COMPOSE_PROJECT_NAME}_node_modules
