// Code block styling - based on MOJ Frontend approach
// @see https://design-patterns.service.justice.gov.uk

@use "govuk-frontend/dist/govuk/base" as *;

/// System ui-monospace font stack
///
/// @link https://caniuse.com/extended-system-fonts
/// @link https://www.w3.org/TR/css-fonts-4/#ui-monospace-def
$app-code-font: ui-monospace, menlo, "Cascadia Mono", "Segoe UI Mono", consolas, "Liberation Mono", monospace;

pre,
code,
.font-monospace {
  @include govuk-typography-common($font-family: $app-code-font);
}

pre {
  margin: 0;
}

// Inline code styling (padding and font-size match govuk-tag)
code {
  display: inline-block;
  padding: 2px 8px 3px;
  border: 1px solid govuk-tint($govuk-border-colour, 50);
  background-color: govuk-colour("white");
  @include govuk-font-size($size: 19);
  line-height: 23px; // 25px minus 2px for border
}

// Block code styling
pre code {
  display: block;
  overflow-x: auto;
  border: $govuk-focus-width solid transparent;
  outline: 1px solid govuk-tint($govuk-border-colour, 50);
  color: $govuk-text-colour;
  background-color: govuk-colour("white");
  @include govuk-responsive-padding(3);
}

// Focus state for keyboard navigation
pre code:focus {
  border-color: $govuk-focus-colour;
  outline: $govuk-focus-width solid $govuk-focus-colour;
}

// Allow text to wrap for markdown/plaintext
pre .language-markdown,
pre .language-plaintext {
  white-space: pre-wrap;
}
