// Copy button styling - based on MOJ Frontend approach
// @see https://design-patterns.service.justice.gov.uk

@use "govuk-frontend/dist/govuk/base" as *;

.app-copy-button {
  $copy-button-colour: #00823b;

  position: absolute;
  z-index: 1;
  top: govuk-spacing(2);
  right: govuk-spacing(2);
  min-width: 110px;
  padding: 4px 10px 2px;
  border: 1px solid $copy-button-colour;
  color: $copy-button-colour;
  background-color: govuk-colour("white");
  box-shadow: 0 2px 0 0 govuk-colour("green");
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  @include govuk-font(16);

  &:hover {
    background-color: govuk-tint(govuk-colour("green"), 90);
  }

  &:focus:not(:hover) {
    color: $govuk-focus-text-colour;
    background-color: $govuk-focus-colour;
    box-shadow: 0 2px 0 0 $govuk-focus-text-colour;
  }

  &:active,
  &:focus {
    padding: 2px 10px;
    border: 2px solid $govuk-focus-colour;
    outline: 2px solid transparent;
    box-shadow: none;
  }

  &:active {
    margin-top: 2px;
    box-shadow: none;
  }
}

// Container for code block with copy button
.app-code-block,
app-copy-code {
  display: block;
  position: relative;
  @include govuk-responsive-margin(4, "bottom");
}
