.plan-header {

  & {
    box-shadow: inset 0 -1px 0 $govuk-border-colour;
    padding-top: govuk-spacing(5);
    padding-bottom: govuk-spacing(3);
  }

  &__subject-details {
    * {
      display: inline-block;
    }

    &__title {
      font-weight: bold;
      margin-right: govuk-spacing(3);
      margin-bottom: 0;
    }

    &__identifiers {
      margin: 0;
      @include govuk-font($size: 19, $weight: 'normal');

      dd {
        margin-left: govuk-spacing(1);
      }

      & > * {
        color: $govuk-secondary-text-colour;
        padding-right: govuk-spacing(2);
        margin-right: govuk-spacing(1);

        &:not(:last-child) {
          box-shadow: inset -1px 0 0 $govuk-border-colour;
        }
      }
    }
    &__navigation-links {
      @include govuk-font(19);
      white-space: nowrap;
      float: right;
    }
  }

  &__header-actions {
    .moj-page-header-actions {
      margin-bottom: 0;
      margin-top: govuk-spacing(6);
    }
  }
}
