.support-widget {
  display: block;
  background-color: govuk-colour("light-grey");
  border-top: 1px solid govuk-colour("mid-grey");
  padding: govuk-spacing(3) 0;
}

.support-widget__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: govuk-spacing(3);
}

.support-widget__prompt {
  @include govuk-font($size: 16, $weight: bold);
}

.support-widget__button {
  @include govuk-font($size: 16);
  display: inline-block;
  padding: govuk-spacing(2) govuk-spacing(3);
  border: 1px solid govuk-colour("black");
  box-shadow: 0 2px govuk-colour("black");
  background-color: govuk-colour("white");
  color: govuk-colour("black");
  cursor: pointer;

  &:hover {
    background-color: govuk-colour("light-grey");
  }

  &:focus {
    @include govuk-focused-text;
  }
}

.support-widget__content {
  margin-top: govuk-spacing(3);
  padding-top: govuk-spacing(3);
  border-top: 1px solid govuk-colour("mid-grey");
}

.support-widget__panels {
  display: grid;
  grid-template-columns: 1fr;
  gap: govuk-spacing(4);

  @include govuk-media-query($from: tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.support-widget__panel--left {
  padding: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    padding-right: govuk-spacing(4);
  }
}

.support-widget__panel--right {
  padding: govuk-spacing(3);
  background-color: govuk-colour("white");
  border: 1px solid govuk-colour("mid-grey");
}

.support-widget__data {
  display: flex;
  flex-direction: column;
  gap: govuk-spacing(3);
  margin: 0;
}

.support-widget__data-row {
  dt {
    @include govuk-font($size: 14);
    color: govuk-colour("dark-grey");
    margin-bottom: govuk-spacing(1);
  }

  dd {
    @include govuk-font($size: 14);
    margin: 0;
    font-family: monospace;
    word-break: break-all;
    user-select: all;
  }
}
