{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set rows = [] %}

{% for event in params.events %}

  {% set editEvent %}
    {{ govukTextarea({
      name: "event-data-" + event.uuid,
      id: "event-data-" + event.uuid,
      value: params.postData['event-data-' + event.uuid] or (event.data | dump(2)),
      label: {
        text: "Data",
        classes: "govuk-label--s"
      },
      rows: 8
    }) }}
  {% endset -%}

  {% set eventDetails %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <div class="event-data">
          {{ govukTag({
            text: "Data",
            classes: "govuk-tag--grey"
          }) }}
          <pre>{{ event.data | dump(2) }}</pre>
        </div>
      </div>
      <div class="govuk-grid-column-one-half">
        {{ govukCheckboxes({
          name: "event-action-" + event.uuid,
          classes: "govuk-checkboxes--small",
          formGroup: {
            classes: "govuk-!-static-margin-0"
          },
          fieldset: {
            legend: {
              text: "Actions",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "DELETE",
              text: "Delete",
              behaviour: "exclusive",
              checked: params.postData['event-action-' + event.uuid] == 'DELETE'
            },
            {
              value: "UPDATE",
              text: "Edit",
              behaviour: "exclusive",
              conditional: {
                html: editEvent
              },
              checked: params.postData['event-action-' + event.uuid] == 'UPDATE'
            }
          ]
        }) }}
      </div>
    </div>

  {% endset -%}

  {% set rows = (rows.push([
    { html: '<strong>' + event.data.type + '</strong>', classes: "event-row" },
    { text: event.position, classes: "event-row" },
    { text: event.createdAt, classes: "event-row" },
    { text: event.uuid, classes: "event-row" }
  ]), rows) %}

  {% set rows = (rows.push([
    {
      html: eventDetails,
      colspan: 4
    }
  ]), rows) %}

{% endfor %}

{{ govukTable({
  classes: "events-table",
  head: [
    { text: "Event type" },
    { text: "Position" },
    { text: "Created at" },
    { text: "UUID" }
  ],
  rows: rows
}) }}
