.plan-header__previous-version-date-banner .moj-alert{
  margin-top: govuk-spacing(6);
  margin-bottom: 0;
}

.previous-versions-table {
  .date-column{
    width: 34% !important;
  }

  .view-link-column {
    width: 20% !important;
  }

  .status-column {
    width: 26% !important;
  }
}
