{%- extends "partials/layout.njk" -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
{%- from "moj/components/domain-specific/probation/footer/macro.njk" import pdsFooter -%}

{% set fullPageTitle = (dynamicTitle or step.title) + ' - Strengths and needs' %}
{% set pageTitleWithError = 'Error: ' + fullPageTitle %}

{% set allValidationErrors = fieldValidationErrors.concat(domainValidationErrors) %}

{% set pageTitle %}
  {% if not allValidationErrors.length %}
    {{ fullPageTitle }}
  {% else %}
    {{ pageTitleWithError }}
  {% endif %}
{% endset %}

{% block head %}
  {{ super() }}
  {% block pageStylesheets %}
    <link rel="stylesheet" href="{{ '/assets/css/forms/strengths-and-needs/assets/form.css' | assetMap }}">
  {% endblock %}
{% endblock %}

{% block govukHeader %}
  {{ super() }}
  {% include "sentence-plan/views/partials/phase-banner.njk" %}
  {% include "strengths-and-needs/views/partials/person-header.njk" %}
{% endblock %}

{% block content %}

  {% set currentSectionCode = ancestors[ancestors.length - 1].code if ancestors.length else '' %}
  {% set activeSectionNavItems = [] %}

  {% for item in sectionNavItems %}
    {% set activeSectionNavItems = activeSectionNavItems.concat([{
      text: item.text,
      href: item.sideNavHref,
      active: item.code == currentSectionCode,
      attributes: {"data-complete": item.complete}
    }]) %}
  {% endfor %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        {# Left sidebar: Section navigation #}
        {% if not hideNavigation %}
          <div class="govuk-grid-column-one-quarter">
            {{ mojSideNavigation({
              label: "Assessment sections",
              items: activeSectionNavItems
            }) }}
          </div>
        {% endif %}

        {# Right content: Form #}
        <div class="{{ "govuk-grid-column-full" if hideNavigation else "govuk-grid-column-two-thirds" }}">
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: allValidationErrors | toErrorSummary
          }) if allValidationErrors.length }}

          {% if backlink %}
            <a href="{{ backlink }}" class="govuk-back-link">Back</a>
          {% endif %}

          {% if sectionTitle %}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-three-quarters">
                {% if pageSubHeading %}
                  <p class="page-sub-heading">{{ pageSubHeading }}</p>
                {% endif %}
                <h1 class="{{ sectionTitleClass | default("govuk-heading-l") }}">{{ sectionTitle }}</h1>
              </div>
              {% if sectionStatusTag %}
                <div class="govuk-grid-column-one-quarter govuk-!-text-align-right">
                  {{ govukTag({ text: sectionStatusTag.text, classes: sectionStatusTag.classes"" }) }}
                </div>
              {% endif %}
            </div>
          {% endif %}

          <form method="post" novalidate data-qa="main-form">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            {% for block in blocks %}
              {{ block | safe }}
            {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block govukFooter %}
  {{ pdsFooter({
    baseUrl: footerBaseUrl or "/platform"
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% block pageScripts %}
    <script src="{{ '/assets/js/forms/strengths-and-needs/assets/form.js' | assetMap }}"></script>
  {% endblock %}
{% endblock %}
