.govuk-main-wrapper {
  min-height: 600px;
  padding-top: govuk-spacing(5);
}

.govuk-main-wrapper--no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.govuk-width-container--full-width {
  max-width: none;
}

.code-block {
  display: block;
  overflow: auto;
  background-color: govuk-colour('light-grey');
  @include govuk-responsive-padding(4);
}

@view-transition {
  navigation: auto;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.125s;
}
