.govuk-main-wrapper {
  min-height: 600px;
}

.govuk-main-wrapper--no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.govuk-width-container--full-width {
  max-width: none;
}

.code-block {
  display: block;
  overflow: auto;
  background-color: govuk-colour('light-grey');
  @include govuk-responsive-padding(4);
}

// Accessible Autocomplete - use GOV.UK font
.autocomplete__menu {
  @include govuk-font($size: 19);
}

@view-transition {
  navigation: auto;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.125s;
}

.aap-service-banner {
  @include govuk-responsive-margin(1, "left");

  .govuk-tag {
    @include govuk-font($size: 14);
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
  }
}
