---
# Per environment values which override defaults in hmpps-arns-assessment-platform-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: arns-assessment-platform-preprod.hmpps.service.justice.gov.uk

  env:
    INGRESS_URL: "https://arns-assessment-platform-preprod.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in-preprod.hmpps.service.justice.gov.uk/auth"
    HMPPS_ARNS_HANDOVER_URL: "https://arns-handover-service-preprod.hmpps.service.justice.gov.uk"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api-preprod.prison.service.justice.gov.uk"
    AAP_API_URL: "https://arns-assessment-platform-api-preprod.hmpps.service.justice.gov.uk"
    COORDINATOR_API_URL: "https://arns-coordinator-api-preprod.hmpps.service.justice.gov.uk"
    DELIUS_API_URL: "https://sentence-plan-and-delius-preprod.hmpps.service.justice.gov.uk"
    ARNS_API_URL: "https://assess-risks-and-needs-preprod.hmpps.service.justice.gov.uk"
    SAN_URL: "https://strengths-based-needs-assessments-preprod.hmpps.service.justice.gov.uk"
    ENVIRONMENT_NAME: PRE-PRODUCTION
    AUDIT_ENABLED: "false"

generic-prometheus-alerts:
  alertSeverity: hmpps-arns-non-prod
