name: Deploy to environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment
        type: choice
        required: true
        options:
          - dev
          - test
        default: 'dev'
      image_tag:
        description: Optional image tag to deploy. If left blank, a new image will be built, pushed and deployed
        required: false
        default: ''
        type: string

env:
  dev: 'playwright-action.yml'
  test: 'playwright-action-test.yml'

jobs:
  deploy_to_env:
    uses: ministryofjustice/hmpps-assess-risks-and-needs-github-actions/.github/workflows/deploy_to_env.yml@v1
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}
      image_tag: ${{ inputs.image_tag }}
  trigger_integration_tests:
    name: Trigger integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.INTEGRATION_TESTS_TRIGGER_APP_ID }}
          private-key: ${{ secrets.INTEGRATION_TESTS_TRIGGER_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          permission-actions: write
          repositories:
            hmpps-arns-integrations-test-playwright
      - name: Run integration tests
        uses: actions/github-script@v8
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: 'hmpps-arns-integrations-test-playwright',
              workflow_id: ${{ env[inputs.environment] }},
              ref: 'main'
            })
