name: Run end-to-end tests

on:
  workflow_call:
    inputs:
      app_version:
        description: App version
        required: true
        type: string
  workflow_dispatch:


permissions:
  contents: read

jobs:
  e2e_test:
    runs-on: ubuntu-latest
    env:
      APP_VERSION: ${{ inputs.app_version }}
    steps:
      - uses: actions/checkout@v6

      - name: Build docker image
        uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2
        with:
          docker_registry: 'ghcr.io'
          registry_org: 'ministryofjustice'
          tag_latest: false
          push: false
          load: true
          docker_multiplatform: false
          upload_image_artifact: true
          image_artifact_retention_days: 2

      - name: Download docker image
        uses: actions/download-artifact@v7
        with:
          name: build_image
          path: ${{ runner.temp }}

      - name: Load image
        run: |
          docker load --input ${{ runner.temp }}/build_image.tar

      - name: Run Playwright tests
        run: |
          make e2e-ci

      - name: Upload test results
        if: '!cancelled()'
        uses: actions/upload-artifact@v6
        with:
          name: test_results
          path: |
            test_results/playwright/

      - name: Archive screenshots
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: screenshots
          path: |
            test_results/playwright/test-output/**/*

      - name: Export container logs
        if: failure()
        run: make save-logs OUTPUT_LOGS_DIR=${{ runner.temp }}/docker-logs

      - name: Upload docker logs
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: e2e_docker_logs
          path: |
            ${{ runner.temp }}/docker-logs
