name: Run integration tests

on:
  workflow_call:
    inputs:
      app_version:
        description: App version
        required: true
        type: string

permissions:
  contents: read

jobs:
  integration_test:
    runs-on: ubuntu-latest
    env:
      APP_VERSION: ${{ inputs.app_version }}
    steps:
      - uses: actions/checkout@v5

      - name: Download docker image
        uses: actions/download-artifact@v5
        with:
          name: build_image
          path: ${{ runner.temp }}

      - name: Load image
        run: |
          docker load --input ${{ runner.temp }}/build_image.tar

      - name: Run Playwright tests
        run: |
          make test-integration

      - name: Upload test results
        if: '!cancelled()'
        uses: actions/upload-artifact@v4
        with:
          name: test_results
          path: |
            test_results/playwright/

      - name: Archive screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: |
            test_results/playwright/test-output/**/*

      - name: Export container logs
        if: failure()
        run: make save-logs OUTPUT_LOGS_DIR=${{ runner.temp }}/docker-logs

      - name: Upload docker logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: integration_docker_logs
          path: |
            ${{ runner.temp }}/docker-logs
